{% extends 'apoyo/base.html' %}

{% block titulo %}Registrar legajo{% endblock %}

{% block principal %}
<section class="registrar">
	<form action="{% url 'registrar_legajos' %}" method="POST">
		{% csrf_token %}
		<fieldset class="registrar-legajos-campos">
			<legend>Registrar</legend>
			
			<table class="registrar-tabla">
				{{ form_legajo }}
			</table>
			
		</fieldset>
		<nav class="registrar-boton">
			<a href="/legajos/"><button type="button">Volver</button></a>
			<button type="submit">Registrar</button>
		</nav>
	</form>
</section>
{% endblock %}